<header class = "page_title">
	<h1>Library</h1>
</header>
<div class = "vp_team_selector">
	Current Team
	<select>
	</select>
</div>
<div class = "upload button" href = "#" title = "Click to create a new project" >Create new project</div>
<div class = "vp_search">
	<input type="text" placeholder="Search projects"/><div class = "vp_btn_gray button" href = "#" ><span class = 'vp_ico vp_ico_search'> </span></div>
</div>
<div class = "videos clearfix">
</div>
<br /> 
<div class = "paginator">
</div>
<br />
<br />
